.movies_container{
    max-width:83vw;
    height: 100vh auto;
    /* padding: 30px; */
    /* margin-left: 170px; */
    margin-left: auto;
    height: 100%;
    
}
button{
    cursor: pointer;
}
.all_movies{
    max-width:100%; 
    display: flex;
    align-items: flex-start;
    align-self: center;
    justify-content:center;
    gap: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    margin: auto;
    padding: 5px;
   position:relative;
}


 .movies{
    width:200px;
    height:280px auto;
    border-radius: 10px;
    border:2px solid white;
    padding: 5px;
    transition: .3s;
    margin: 5px;
    margin-top: 15px;
}

.movies:hover{
    transform: scale(1.1);
}

.image_container{
    width:100%;
    height: 280px;
}
.image_container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.info{
    text-align: start;
    font-size: 14px;
    color:white;
    height: 40px;
    overflow: hidden;
    padding:8px;
    line-height: 23px;
}

.info h4{
    color:gray;

}
.info h2{
    font-size: 18px;
    margin-top: 4px;
    overflow: hidden;
}

.btn-container{
    width:100%;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-primary{
    padding: 8px;
    font-size: 21px;
    color:black;
    background-color:white;
    width:170px;
}
.page_btn{
    padding: 8px;
    font-size: 18px;
    color:black;
    background-color:white;
}

.search_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    width:100%;
}
.search-bar input{
        width:90%;
        padding:10px;
        margin-top:15px;
        border-radius:5px;
        font-size:20px;
        border:none;
        margin-left: 30px;
        outline:none;
        font-family:sans-serif;
        background-color:rgb(41, 40, 40);
        color:white;
}


@media(max-width:1000px){
    .movies_container{
        margin-top: 90px;
        width:95vw;
        height: 100vh auto;
        padding: 0px;
        margin-left: 0px;
        height: 100%;
    }
    .all_movies{
        width: 100%;
        padding: 0px;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }
    .movies{
        width:200px;
        height:240px auto;
        padding: 3px;
        border: none;
        margin: 5px;
        margin-top: 15px;
    }
    
    .image_container{
        width:100%;
        height: 280px;
      
    }
    .btn-container{
        max-width:90vw ;
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 30px;
    }
    .btn-primary{
        padding: 8px;
        font-size: 21px;
        color:black;
        background-color:white;
        width:120px;
    }
    
    .page_btn{
        padding: 8px;
        font-size: 18px;
        color:black;
        background-color:white;
    }
    
}

@media(max-width:500px){
    .movies_container{
        margin-top: 90px;
        max-width:100vw;
        height: 100vh auto;
        padding: 0px;
        margin-left: 0px;
      
      
        height: 100%;
    }
    .all_movies{
        width: 100%;
        padding: 0px;
        margin: 0px;
        align-items: center;
        justify-content: space-around;
    }
    .movies{
        width:170px;
        height:140px auto;
        padding: 0px;
        border: none;
        margin: 5px;
        margin-top: 15px;
    }
    .movies:hover{
        transform: scale(1);

    }
   
    
    .image_container{
        width:100%;
        height: 280px;
    }
    .btn-container{
       max-width:90vw ;
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 30px;
    }
    .btn-primary{
        padding: 8px;
        font-size: 19px;
        color:black;
        background-color:white;
        width:100px;
    }
    
    .page_btn{
        padding: 8px;
        font-size: 18px;
        color:black;
        background-color:white;
    }
    
    .search-bar{
        width:100%; 
        margin-top: 0px;
        font-size: 20px;
    }
    .search-bar input{
        margin-left: 0px;
        width: 95%;
    }
}



@media(max-width:800px){
    .movies_container{
        margin-top: 90px;
        max-width:100vw;
        height: 100vh auto;
        padding: 0px;
        margin-left: 0px;
        height: 100%;
    }
    .all_movies{
        width: 100%;
        padding: 0px;
        margin: 0px;
        align-items: center;
        justify-content: space-around;
    }
    .movies{
        width:170px;
        height:140px auto;
        padding: 0px;
        border: none;
        margin: 5px;
        margin-top: 15px;
    }

}

